.secondHeadline {
  max-width: 15ch;
}

.btn {
  padding: calc(1.25 * var(--clamp)) calc(2.25 * var(--clamp));
  margin-top: calc(2.25 * var(--clamp));
  margin-bottom: calc(6.25 * var(--clamp));

  background: var(--clr-btn-pr);
  border: none;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
}

@media (min-width: 1080px) {
  .section {
    width: min(85rem, 95%);
    padding: 0;
    margin: calc(12 * var(--clamp)) auto;
    display: grid;
    grid-template-areas:
      "secondHeadline image"
      "btn image";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;

    background-color: var(--clr-bg-3);
    border-radius: calc(2 * var(--clamp));

    overflow-y: hidden;
  }
  .secondHeadline {
    max-width: 18ch;
    padding: 0;
    margin-left: calc(6 * var(--clamp));
    margin-top: calc(4.5 * var(--clamp));
    text-align: left;
    grid-area: secondHeadline;
  }
  .btn {
    margin-left: calc(6 * var(--clamp));
    grid-area: btn;
  }
  .image {
    margin-top: calc(2 * var(--clamp));
    width: 100%;
    height: calc(10 * var(--clamp));
    grid-area: image;
  }
}
