.subHeading {
  margin-bottom: calc(4 * var(--clamp));
  max-width: 60ch;
}

.featureFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featureImg {
  margin-bottom: 17%;
  position: relative;
}

.frameImg2 {
  width: 63%;
  position: absolute;
  right: calc(50% - (63% / 2));
  bottom: -13%;
}

.featureRows {
  padding: calc(1.25 * var(--clamp));
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(1.8 * var(--clamp));
  list-style-type: none;
}

@media (min-width: 1080px) {
  .featureFrame {
    flex-direction: row;
    gap: 0;
  }
  .featureImg {
    margin-bottom: 0;
    margin-right: 4%;
  }
  .frameImg2 {
    width: 53%;
    right: -5%;
    bottom: -5%;
  }
}
