.footer-list ul {
  list-style-type: none;
  text-align: left;
  display: grid;
  padding: 0;
  gap: 19px;
}
.footer-list ul li {
  padding: 0;
}
.footer-list ul .title {
  margin-bottom: 21px;
}

@media (max-width: 756px) {
  .footer-list ul {
    text-align: center;
  }
}
