.partners .sub-heading {
  margin-bottom: 50px;
  max-width: 591px;
  width: 100%;
}
.partners .logos-con {
  display: flex;
  gap: 50px;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.partners .logos {
  margin-bottom: 50px;
  height: 70px;
  display: flex;
  justify-content: center;
  gap: 74px;
}

.partners .btn {
  padding: 13.5px 40px;
  background-color: #181818;
  border: solid 1px #ffffff;
}

@media (max-width: 765px) {
  .partners .sub-heading {
    max-width: 349px;
  }
  .partners .logos-con {
    flex-direction: column;
  }
  .partners .logos-con .logos {
    gap: 50px;
    width: 100%;
  }
  .logos2 img {
    height: 40px;
    width: auto;
  }
}
