.logosContainer {
  margin: calc(3.3 * var(--clamp)) 0;

  display: flex;
  flex-wrap: wrap;
  gap: calc(3.2 * var(--clamp));
  align-items: center;
  justify-content: center;
}

.btn {
  padding: calc(0.85 * var(--clamp)) calc(2.5 * var(--clamp));
}
