.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(3.6 * var(--clamp));
  margin-top: calc(3 * var(--clamp));
}

.headLine {
  max-width: 16ch;
}
.subHeading {
  max-width: 36ch;
}

@media (min-width: 1080px) {
  .section {
    gap: calc(2.2 * var(--clamp));
  }
  .headLine {
    font-size: var(--fz-headline);
    font-weight: var(--fw-headline);
    line-height: var(--lh-headline);
  }
  .subHeading {
    margin-bottom: calc(2.25 * var(--clamp));
    max-width: 60ch;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: calc(1.25 * var(--clamp));
  margin-bottom: calc(2 * var(--clamp));
}

.btn {
  padding: calc(1.25 * var(--clamp)) calc(2.5 * var(--clamp));
}

.btn1 {
  background-color: var(--clr-btn-pr);
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border: none;
}
.btn2 {
  filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
}

@media (min-width: 1080px) {
  .buttons {
    flex-direction: row;
    align-items: center;
    gap: calc(2.2 * var(--clamp));
    margin-bottom: 5rem;
  }
}

.imagesGroup {
  width: 100%;
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  row-gap: 3%;
  transform: rotateX(40deg) rotateZ(45deg);
}

.dashboard {
  align-self: center;
  transform: rotate(-90deg);
}
.dashboard img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.chatBot {
  width: 99%;
  margin-left: -2%;
}
.chatBot img {
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.boards {
  margin-left: 4%;
}

@media (min-width: 1080px) {
  .imagesGroup {
    width: min(73%, 80rem);
  }
}

.section::after {
  content: "";
  position: absolute;
  inset: 60% 0 0 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e0e0e 66.15%);
}
