.t-items {
  display: flex;
  justify-content: center;
  gap: 23px;
  margin-top: 50px;
}
.t-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

@media (max-width: 756px) {
  .t-items {
    flex-direction: column;
    align-items: center;
  }
}
