.header-text {
  padding: 50px 0;
}
.header-text .head-line {
  max-width: 740px;
}
.header-text .sub-heading {
  max-width: 600px;
  margin: auto;
  margin-top: 17px;
}
@media (max-width: 756px) {
  .header-text {
    padding: 0;
  }
  .head-line {
    font-size: 52px;
    line-height: 62px;
    letter-spacing: 0.2px;
    padding: 10px;
    max-width: 314px;
    width: 95%;
    margin: auto;
  }

  .header-text .sub-heading {
    max-width: 402px;
    width: 100%;
  }
}
