.screen {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.screen img {
  max-width: 100%;
  height: auto;
}

.screen-gradient {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 63.24%;
  bottom: 0%;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e0e0e 66.15%);
}

@media (max-width: 756px) {
  .screen img {
    max-width: 165%;
    height: auto;
    margin: auto;
  }
}
