.listItem {
  text-align: left;
  width: fit-content;
}

.title {
  max-width: 19ch;
  margin-left: 0;
  margin-bottom: calc(1.25 * var(--clamp));

  display: flex;
  align-items: flex-start;
}
.image {
  width: calc(2 * var(--clamp));
  margin-right: calc(0.8 * var(--clamp));
}
.subTitle {
  width: 27ch;
}
