.card {
  width: min-content;
  padding: calc(2.5 * var(--clamp));
  text-align: left;

  display: grid;
  grid-template-areas:
    "image title . "
    "image subTitle . "
    "par par par ";
  grid-auto-columns: 12% max-content max-content;
  align-items: center;

  column-gap: calc(1.45 * var(--clamp));

  border: 1px solid var(--clr-border-sc);
  border-radius: calc(0.625 * var(--clamp));
}

.subTitle {
  grid-area: subTitle;
}
.image {
  grid-area: image;

  border-radius: 50%;
  overflow: hidden;
}

.par {
  max-width: 38ch;
  margin-top: calc(2 * var(--clamp));
  grid-area: par;
}
