.card {
  max-width: 45ch;

  padding: calc(2.5 * var(--clamp));
  text-align: left;

  display: grid;
  grid-template-areas:
    "image title  "
    "image subTitle  "
    "par par  ";

  grid-template-columns: 2fr 10fr;

  align-items: center;

  column-gap: calc(1.45 * var(--clamp));

  border: 1px solid var(--clr-border-sc);
  border-radius: calc(0.625 * var(--clamp));
}

.subTitle {
  grid-area: subTitle;
}
.image {
  grid-area: image;

  border-radius: 50%;
  overflow: hidden;
}

.par {
  margin: 0;
  margin-top: calc(2 * var(--clamp));
  grid-area: par;
}
