.section {
  max-width: 100%;
}
.gallery {
  margin: 0 auto;
  margin-bottom: calc(2.75 * var(--clamp));
  display: flex;
  flex-wrap: wrap;
  gap: calc(2 * var(--clamp));
  justify-content: center;
}
.image {
  width: 14.06rem;
  max-width: 100%;
  border-radius: calc(0.75 * var(--clamp));
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
}
.gallery > :is(.image:nth-child(5), .image:nth-child(7)) {
  width: 24.69rem;
}

.btn {
  padding: calc(0.85 * var(--clamp)) calc(2.5 * var(--clamp));
}
@media (min-width: 480px) {
  .gallery {
    max-width: 34rem;
  }
}
@media (min-width: 1080px) {
  .gallery {
    max-width: 67.5rem;
  }
}
