* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
  font-style: normal;
}
section {
  margin-bottom: 100px;
  padding: 50px 0;
}
.App {
  background: var(--clr-bg-pr);
  text-align: center;
}
@media (max-width: 756px) {
}
