html {
  /* clamp */
  --clamp: 1rem;
  --clamp: clamp(0.6rem, 0.21428571428571425rem + 2.2857142857142856vw, 1rem);
  /* width */
  --w-normal: 80%;
  --w-max: 110rem;

  /* font sizes */
  --fz-headline: calc(5 * var(--clamp));

  --fz-sc-headline: calc(3.25 * var(--clamp));

  --fz-sub-heading: calc(1.25 * var(--clamp));

  --fz-title: calc(1.25 * var(--clamp));

  --fz-sub-title: calc(1 * var(--clamp));

  --fz-btn: calc(1.25 * var(--clamp));

  --fz-p: calc(1 * var(--clamp));

  --fz-link: calc(1 * var(--clamp));

  --fz-m-menu: calc(1.875 * var(--clamp));

  /* font-weights */
  --fw-normal: 400;
  --fw-semibold: 500;

  /* line heights */

  --lh-headline: calc(5.5 * var(--clamp));
  --lh-sc-headline: calc(3.25 * var(--clamp));
  --lh-sub-heading: calc(1.875rem * var(--clamp));
  --lh-sub-title: calc(1.875rem * var(--clamp));
  --lh-m-menu: calc(2.9 * var(var(--clamp)));
  --lh-normal: calc(1.5 * var(--clamp));
  /* colors */
  --clr-tx-pr: rgb(255, 255, 255);
  --clr-tx-sc: rgb(92, 92, 92);
  --clr-tx-3: rgb(0, 0, 0);

  /* --clr-tx-pr: black; */
  --clr-bg-pr: rgb(24, 24, 24);
  --clr-bg-sc: rgba(255, 255, 255, 1);
  --clr-bg-3: rgba(52, 52, 52, 1);
  --clr-btn-pr: rgb(68, 82, 254);
  --clr-btn-sc: rgb(2, 228, 192);
  --clr-border-sc: rgba(222, 222, 222, 1);
}
