* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
img {
  max-width: 100%;
  /* height: unset; */
  /* width: unset; */
}
svg {
  max-width: 100%;
  width: 100%;
  height: auto;
}
