footer {
  text-align: left;
  padding: 107px 0;
}

.footer-content {
  display: flex;
  gap: 199px;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}
.footer-list {
  display: grid;
  grid-template-columns: repeat(3, 121px);
  gap: 75px;
}
footer .footer-social {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer-block {
  display: flex;
}

footer .footer-social .social-icons {
  padding: 20px 0;
  display: flex;
  gap: 24px;
}

@media (max-width: 756px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  .footer-list {
    grid-template-columns: 1fr;
  }
}
